.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.card {
    border: 1px solid black;
    width: 8rem;
    aspect-ratio: 1/1;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;


}